<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="" data-target="#searchForm" data-toggle="collapse"><i class="fas fa-search"></i></a>

        <div class="collapse fade" id="searchForm">
            <form  id="searchform" action="{% url 'search' %}"  >
                <input id="search" type="search" name="project_title" class="form-control border-1 ml-2" placeholder="search" />

            </form>
        </div>
        <a class="navbar-brand" href="/"
            style="margin-left:40%;font-weight:bolder;font-family: 'Yeseva One', cursive;letter-spacing: 4px;font-size: 25px;">awwwards.</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto" style="text-transform: uppercase;font-size: small;font-weight: bold;">
                <li class="nav-item">
                    {% if user.is_authenticated%}
                    <div class="dropdown show">
                        {% if  user.profile.profile_picture %}
                        <a class="nav-link" href="#" class=" dropdown-toggle " id="navbarDropdown" data-toggle="dropdown"
                        role="button" aria-expanded="false" style="color:black">
                        <img class="rounded-circle" src="{{ user.profile.profile_picture.url }}" width="35" height="35">{{ user.username|title}}
                    </a>
                    {% else %}
                    <a class="nav-link" href="#" class=" dropdown-toggle " id="navbarDropdown" data-toggle="dropdown"
                        role="button" aria-expanded="false" style="color:black">
                        <img class="rounded-circle" src="https://res.cloudinary.com/ucynthy12/image/upload/v1609854539/421-4212275_transparent-default-avatar-png-avatar-img-png-download_cgxfx9.png" width="35" height="35">{{ user.username|title}}
                    </a>
                    {% endif %}
                    <div class="dropdown-menu" role="menu" aria-labelledby="navbarDropdown" style="font-family: 'Josefin Slab', serif;">

                        <a href="{% url 'profile' user.username %}" class="dropdown-item">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a href="/accounts/password/change" class="dropdown-item">Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                
                      </div>
                    </div>

                </li>
                <li class="nav-item" style="border-left:1px solid green;margin-top:7px">
                    <a class="nav-link" href="{% url 'uploads' %}" style="color:green">Submit Your Site</a>
                </li>
                 
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}" style="color:black" >Register/Login</a>

                </li>
                <li class="nav-item" style="border-left:1px solid green">
                    <a class="nav-link" href="{% url 'uploads' %}" style="color:green">Submit Your Site</a>
                </li>
                {% endif %}
      

               
            </ul>
        </div>

    </div>
</nav>